
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
}

.signup-container {
    background-image: url(./images/sbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.input-group {
    margin: 10px 0;
}

.login-container {
    background-image: url(./images/lbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.grey-bg {
    background-color: #eee;
}

.orders-modal {
    width: 60vw !important;
    max-width: 60vw !important;
}
.help-block {
    opacity: 0.7;
}

.checkout-steps {
    background-color: white;
    padding: 15px 5px;
}

.checkout-steps>div {
    border-top: .3rem #c0c0c0 solid;
    color: #c0c0c0;
    flex: 1 1;
}

.checkout-steps>div.active {
    border-top: .3rem #28a745 solid;
    color: #28a745;
}
